.img {
  margin-left: 400px;
  float: none;
}
h1 {
  color: blue;
  margin-left: 50px;
}
.size {
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}
.sz {
  font-size: 22px;
}
.bkgrnd {
  background-image: url(https://images.pexels.com/photos/40896/larch-conifer-cone-branch-tree-40896.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  color: black;
  margin-left: -10px;
  background-size: cover;
  background-repeat: no-repeat;
  font-size:

}
#ma {
  margin-left: 10px;
}
.column {
  column-width:
}
.pud {
  padding-top: 40px;
  font-size: 28px;

}
.margin: {
  margin-left: 50px;
}
#me {
  margin-left: 10px;
}
.contact {
  font-size: 25px;
  padding: black;
  margin-left: 38px;
}
.home {
  font-size: 30px;
}
