.img {
  margin-left: 400px
}
h1 {
  color: blue;
  margin-left: 50px;
  padding-top: : 600px;
}
.size {
  font-size: 18px;
}
.sz {
  font-size: 20px;
}
.bkgrnd {
  background-image: url(https://wallpaperbro.com/img/294773.jpg);
  color: white;
  margin-left: -10px;

}
#ma {
  margin-left: 10px;
}
.column {
  column-width:
}
.pud {
  padding-top: 30px;
}
